Repository shpaker/feedforbot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, mypy, bandit, safety

black:
  name: black
  entry: python -m black
  language: system

isort:
  name: isort
  entry: python -m isort
  language: system

ruff:
  name: ruff
  entry: python -m ruff check --fix
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  language: system
  args:
  - --show-error-codes

bandit:
  name: bandit
  entry: just bandir
  language: system
  pass_filenames: false

safety:
  name: safety
  entry: just safety
  language: system
  pass_filenames: false

-
  Justfile
Due: none

-
  .flake8
  feedforbot/core/cache.py
Due: none

feat: bump requirements (#25)
  .flake8
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Justfile
  Makefile
  feedforbot/cli.py
  feedforbot/config.py
  feedforbot/core/article.py
  feedforbot/core/cache.py
  feedforbot/core/listeners.py
  feedforbot/core/scheduler.py
  feedforbot/core/transports.py
  feedforbot/core/types.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/core/listeners/test_rss.py
  tests/mocks/rss_short.xml
Due: black, isort, ruff, safety

-
  Justfile
  feedforbot/cli.py
  feedforbot/constants.py
  feedforbot/core/article.py
  feedforbot/core/cache.py
  feedforbot/core/scheduler.py
  feedforbot/core/transports.py
  feedforbot/utils.py
  poetry.lock
Due: safety

-
  poetry.lock
Due: safety

-
  feedforbot/core/article.py
Due: none

fix: extend sentry reports (#26)
  Justfile
  feedforbot/cli.py
  feedforbot/constants.py
  feedforbot/core/article.py
  feedforbot/core/cache.py
  feedforbot/core/scheduler.py
  feedforbot/core/transports.py
  feedforbot/utils.py
  poetry.lock
Due: safety

fix: bump requierments
  Justfile
  feedforbot/core/article.py
  feedforbot/core/listeners.py
  feedforbot/core/scheduler.py
  feedforbot/core/transports.py
  poetry.lock
  pyproject.toml
Due: safety

fix: bump requierments
  Dockerfile
Due: none

fix: incorrect scope creation in sentry event
  feedforbot/core/transports.py
Due: none

bump poetry.lock versions
  feedforbot/core/scheduler.py
  feedforbot/core/transports.py
  poetry.lock
  pyproject.toml
Due: safety

feat: bump requirements
  Dockerfile
  poetry.lock
Due: safety

-
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/pypi.yml
  .pre-commit-config.yaml
  Justfile
  feedforbot/core/article.py
  feedforbot/core/listeners.py
  feedforbot/core/scheduler.py
  feedforbot/core/transports.py
  feedforbot/core/types.py
  feedforbot/core/utils.py
  feedforbot/exceptions.py
  poetry.lock
  pyproject.toml
  tests/core/listeners/test_rss.py
  uv.lock
Due: black, isort, ruff, safety

-
  feedforbot/__init__.py
  feedforbot/version.py
  pyproject.toml
Due: none

-
  .github/workflows/tests.yml
Due: none

-
  Justfile
  uv.lock
Due: none

-
  feedforbot/cli.py
  feedforbot/utils.py
Due: none

-
  .pre-commit-config.yaml
  feedforbot/__init__.py
  feedforbot/__main__.py
  feedforbot/cli.py
  feedforbot/config.py
  feedforbot/constants.py
  feedforbot/core/__init__.py
  feedforbot/core/article.py
  feedforbot/core/cache.py
  feedforbot/core/listeners.py
  feedforbot/core/scheduler.py
  feedforbot/core/targets.go
  feedforbot/core/telegram.go
  feedforbot/core/transports.py
  feedforbot/core/types.py
  feedforbot/core/update.go
  feedforbot/core/utils.py
  feedforbot/exceptions.py
  feedforbot/logger.py
  feedforbot/main.go
  feedforbot/utils.py
  go.mod
  go.sum
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/core/__init__.py
  tests/core/listeners/__init__.py
  tests/core/listeners/test_rss.py
  tests/core/test_adapters.py
  tests/mocks/rss_short.xml
  uv.lock
Due: black, isort, ruff

-
  feedforbot/core/targets.go
  feedforbot/core/telegram.go
  feedforbot/core/update.go
  feedforbot/main.go
Due: none

fix: update CI to use merged dev dependency group, remove bandit target
  .github/workflows/lint.yml
  Justfile
Due: none

refactor: make domain layer synchronous, async only in Scheduler
  CLAUDE.md
  feedforbot/__init__.py
  feedforbot/__version__.py
  feedforbot/cache.py
  feedforbot/cli/app.py
  feedforbot/cli/utils.py
  feedforbot/http_client.py
  feedforbot/listeners.py
  feedforbot/scheduler.py
  feedforbot/sentry.py
  feedforbot/transports.py
  feedforbot/types.py
  pyproject.toml
  tests/listeners/test_rss.py
  tests/test_http_client.py
  tests/test_scheduler.py
  tests/transports/test_telegram.py
  uv.lock
Due: black, isort, ruff

feat: Dockerfile best practices, fix CI version path, add healthcheck
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/pypi.yml
  Dockerfile
  README.md
  feedforbot/cli/app.py
  feedforbot/cli/healthcheck.py
Due: none

fix: add manifest annotations for GHCR package description
  .github/workflows/build.yml
Due: none

fix: remove sha hash tags from docker image builds
  .github/workflows/build.yml
Due: none

fix: add all OCI annotations for GHCR (authors, url, created)
  .github/workflows/build.yml
Due: none

fix: use manifest: prefix for OCI annotations so GHCR reads them
  .github/workflows/build.yml
Due: none

fix: disable provenance to fix GHCR description display
  .github/workflows/build.yml
Due: none

refactor: move OCI labels from Dockerfile to build-push-action --label
  .github/workflows/build.yml
  Dockerfile
Due: none

refactor: major overhaul — security, reliability, testing, DX
  .github/workflows/lint.yml
  .github/workflows/pypi.yml
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  Justfile
  README.md
  TODO.md
  feedforbot/article.py
  feedforbot/cache.py
  feedforbot/cli/app.py
  feedforbot/cli/config.py
  feedforbot/http_client.py
  feedforbot/listeners.py
  feedforbot/scheduler.py
  feedforbot/transports.py
  feedforbot/types.py
  pyproject.toml
  tests/cli/__init__.py
  tests/cli/test_config.py
  tests/listeners/test_rss.py
  tests/test_cache.py
  tests/test_http_client.py
  tests/test_scheduler.py
  tests/transports/test_telegram.py
  uv.lock
Due: black, isort, ruff

docs: clean up changelog — remove implementation details
  CHANGELOG.md
Due: none

fix: scheduler survives unhandled tick exceptions
  .gitignore
  CHANGELOG.md
  Justfile
  feedforbot/cli/app.py
  feedforbot/cli/healthcheck.py
  feedforbot/scheduler.py
  pyproject.toml
  tests/test_scheduler.py
  tmfeed/.env.example
  tmfeed/config.yml
  tmfeed/deploy.yml
  tmfeed/inventory.ini
Due: black, isort, ruff

feat: sort articles by published_at before sending, improve deploy
  feedforbot/scheduler.py
  tmfeed/config.yml
  tmfeed/deploy.yml
Due: none

fix: harden parsing, transport error handling, and pin CI actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/pypi.yml
  feedforbot/article.py
  feedforbot/listeners.py
  feedforbot/transports.py
Due: none

ci: add deploy workflow for tmfeed
  .github/workflows/deploy.yml
  .gitignore
Due: none

docs: update changelog for 4.0.0 release
  CHANGELOG.md
Due: none

Delete TODO.md
  TODO.md
Due: none

Delete tmfeed/inventory.ini
  tmfeed/inventory.ini
Due: none

Path conditions:
  black: any of: ^(src|tests)/.+\.py$
  isort: any of: ^(src|tests)/.+\.py$
  ruff: any of: ^(src|tests)/.+\.py$
  mypy: any of: ^(src|test)/.+\.py$
  bandit: any of: ^(src)/.+\.py$
  safety: any of: ^(poetry.lock)$
